@import url(http://fonts.googleapis.com/css?family=Roboto:300,500,700,900,400);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(../css/font-awesome.min.css);

/* Default Font Styles
______________________*/
body, input, select, textarea{
	font-family: 'Roboto', sans-serif;
	font-size:12px;
	color:#6a7179;
	line-height:1.2;
}

/*font-family: 'Roboto Condensed', sans-serif;*/

/* Headings
______________________*/
h1{
	font-family: 'Roboto', sans-serif;
	font-size:25px;
	font-weight:normal;
	color:#4b535d;
	margin: 7px 0 23px;
}
h2{
	font-size: 22px;
	color: #3d444e;
	margin: 28px 0 10px;
	font-weight: 300;
}
h3{
	font-size: 20px;
	font-weight: 300;
	color: #4b535d;
	margin: 0 0 16px;
}
h4{
	font-size: 14px;
}


/* Links
______________________*/
a{
	color: #3d444e;
}
a:hover {
	text-decoration: none;
}

/* p, blockquote, address
______________________*/
p{
	line-height: 1.8;
	margin-bottom: 19px;
	color: #3d444e;
}

p a{
	color: #32b1d2;
}

img{
	max-width: 100%;
	height: auto;
}

/* Buttons
______________________*/
.btn{
	font-size: 12px;
	border: none;
	box-shadow: none;
	text-shadow: none;
	white-space: normal;
	-webkit-border-radius: 2px ;
	-moz-border-radius: 2px ;
	-ms-border-radius: 2px ;
	-o-border-radius: 2px ;
	border-radius: 2px ;
}
.btn-info{
	background: #32b1d2;
}
.btn-info:hover{
	background: #32a1D2;
}
.btn-success{
	background: #8db85c;
}
.btn-mute{
	background: #c0c0c0;
	color: #fff;
}

/* Lists
______________________*/
ul{
	padding-left: 0;
}
ul li{
	list-style: none;
}
body{
	overflow-x: hidden;
}

/* Logged In
______________________*/
.logged-in{
	position: relative;
}
.logged-in header{
	min-height: 68px;
}
.logged-in .container{
	width: auto;
}
.logged-in #container-fluid{
	margin-left: 210px;
	overflow: hidden;
}
.logged-in #sidebar{
	display: block;
	width: 210px;
	float: left;
}
	.logged-in #sidebar:before{
		background: #3d444e;
		width: 210px;
		content: "";
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
	}
.logged-in .panel-inner{
	display: block;
}
.logged-in .logo{
	display: none;
}
.small-logo{
	display: block;
	background: #32b1d2;
	padding: 20px 0;
}
#panel-btn{
	display: none;
}
.logged-in #panel-btn{
	display: block;
	position: fixed;
	top: 150px;
	right: -10px;
	border-radius: 2px;
	padding: 6px 22px 6px 12px;
}

/* Header
______________________*/
#header-wrap{
	border-bottom: 1px solid #eaeaea;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.8);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.8);
	-o-box-shadow: 0 1px 2px rgba(0,0,0,0.8);
	box-shadow: 0 1px 2px rgba(0,0,0,0.8);
}
.logo a{
	background: #32b1d2;
	display: block;
	font-size: 46px;
	font-family: cordia new;
	color: #fff;
	text-align: center;
	padding: 7px 0 5px;
}
.logo img{
	display: inline-block;
}

/* Navigation
______________________*/
.navbar{
	background: #fff;
	margin: 0;
	border: none;
	box-shadow: none;
	padding: 7px 0 0;
}
.navbar-nav{
	float: right;
}
.navbar-nav > li{
	margin-left: 36px;
	float:left;
}
.navbar-nav > li:first-child{
	margin-left: 0;
}
.navbar-nav > li > a{
	font-weight: 300;
	color: #4b535d !important;
	text-transform: uppercase;
	padding: 15px 0;
}
.navbar-nav > li > a:hover{
	color: #32B1D2 !important;
}

/*  Main Area
-------------------------------------- */

/*	dev style start	*/
.tab-navs{
	background: #fff;
	border-top: 1px solid #e2e4e6;
	border-bottom: 1px solid #e2e4e6;
}
.nav-custom{
	background: none;
	box-shadow: none;
}
	.nav-custom li{
		margin-right: 46px;
		float:left;
	}
		.nav-custom li a{
			padding:36px 0;
			text-transform: uppercase;
		}
		.nav-custom li a:hover{
			background:#fff;
		}
		.nav-custom li a:focus{
			background: none;
			outline: none;
		}
		.nav-custom a{
			font-family:'Roboto';
			color:#707378;
			border-bottom:2px solid transparent;
		}
		.nav-custom .active a{
			border-bottom:2px solid #32b1d2;
		}
.back-link{
	text-align: right;
	padding: 26px 0 0;
}
	.back-link a{
		border: 1px solid #e3e3e3;
		border-radius: 2px;
		padding: 6px 9px;
		color: #434544;
	}
	.back-link a:hover{
		color: #34b3d6;
	}
	.back-link i{
		background: #34b3d6;
		color: #fff;
		margin-right: 10px;
		padding: 1px 6px 2px;
		border-radius: 100px;
	}
.course-elements{
	padding:40px 0 0;
}
	.course-elements .progress-info{
		margin: 0;
		padding: 13px 66px 4px 22px;
	}
	.course-elements .progress-info p{
		color: #a4a4a4;
		margin-bottom: 11px;
	}
	.course-elements h5{
		margin-bottom:20px;
	}
.course-form{
	border-bottom:2px solid #eaebec;
	padding-bottom:50px;
	margin-bottom:20px;
}
	.course-form label{
		font-weight: normal;
	}
.field-margin{
	margin-bottom: 20px;
}
	.course-summary textarea{
		width: 100%;
		resize: none;
	}
.inline-field input{
	max-width: 300px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}
.inline-field label{
	display: inline-block;
	margin-right: 28px;
}
.ins-level{
	padding: 23px 0 0;
}
.radio-fields label{
	margin-top: -6px !important;
	padding: 0 10px 0 !important;
}
.video-fields input{
	max-width: 824px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 18px;
}
.btn-upload{
	background:#505861;
	color:#fff;
}
.form-control{
	color:#9ca4ac;
	border-radius: 2px;
}
.btn-add{
	background:#505861;
	color:#fff;
	border-radius: 2px;
	display: inline-block;
}
.form-horizontal .control-label{
	text-align:left;
	font-weight: normal;
	color:#6a7179;
}
#subtitle-text{
	resize: none;
	height: 70px;
}
.pager li:first-child{
	float: left;
}
.pager li:last-child{
	float: right;
}
.pager > li > a{
	font-size: 20px;
	font-weight: 300;
	color: #fff;
	border: none;
	border-radius: 2px;
	padding: 12px 19px;
}
	.pager .btn-prev {
		background: #b0b6bc;
	}
	.pager .btn-next {
		background: #32b1d2;
	}
.image-field{
	width: 817px;
	margin-right: 20px;
	display: inline-block;
}
.radio-inline{
	color:#6a7179;
}
	.radio-inline input{
		margin-top: 0;
	}
.dummy-course-wrap{
	border:1px solid #d1d1d1;
	background:#fff;
	padding:20px;
}
	.cover-view{
		background: #f4f4f4;
		text-align: center;
		margin: 0 0 34px;
	}
	.video-view{
		margin: 0 0 34px;
	}
		.video-view img{
			width: 100%;
		}
	.dummy-course a{
		color:#33b2d2;
	}
.badge{
	background:#d5dadf;
	border-radius:10px;
	padding:4px;
	color:#000;
	margin-right:6px;
	vertical-align: middle;
}
.badge.check{
	background:#8db85c;
	color:#fff;
	margin: -5px 0 0 10px;
}
.add-btn{
	margin-left:8px;
	text-align: right;
}
.first-quiz{
	border:1px solid #d4d3d3;
	border-radius:2px;
	background:#fff;
	padding:20px 25px;
	position: relative;
}
	.first-quiz .branch-circle i{
		color: #e3b13d;
	}
.btn-comment{
	background:#b0b6bc;
	color:#fff;
}
.section1,
.section2{
	margin-bottom:80px;
}
.section2 h3,
.section1 h3{
	font-weight: normal;
	color: #303842;
	padding: 5px 0 2px;
}
.first-quiz{
	margin-bottom:0px;
}
.section-name{
	color:#303842;
	font-size:20px;
	border:1px solid #969696;
	border-radius:2px;
	padding:4px 0 4px 12px;
}
.add-section{
	padding:10px 20px;
	font-size:20px;
}
.section1-data{
	padding-left:34px;
	border-left:1px solid #d7d8d9;
}
.lecture-wrap{
	border:1px solid #d4d3d3;
	border-radius:2px;
	background:#fff;
	padding:20px 0 0;
	margin-bottom:30px;
	position: relative;
}
.branch-circle{
	background: #fff;
	border-radius: 100%;
	position: absolute;
	right: 100%;
	top: 30px;
	margin-right: 26px;
}
	.branch-circle i{
		display: block;
		color: #8db85c;
		font-size: 20px;
		margin: -2px 0;
	}
	.lecture-wrap h4{
		padding: 0 20px;
	}
.icons{
	margin-bottom: 0;
	padding: 8px 0;
}
	.icons li i{
		font-size:36px;
		margin-bottom: 10px;
		display:block;
		text-align: center;
	}
	.icons span{
		font-size:12px;
		display:block;
	}
.content-selection{
	margin-top:20px;
	border-top:1px solid #8db85c;
}
	.content-selection p{
		padding:30px 20px 0;
	}
	.content-selection li{
		float: left;
	}
	.content-selection li a{
		display: block;
		padding:15px 35px;
		color:#b7babd;
		border-radius: 2px;
	}
	.content-selection li a:hover{
		background:#e5f1d7;
		color:#000;
	}
	.content-selection li a:hover i{
		border-color: #000;
	}
	.content-selection span{
		display:block;
	}
	.content-selection .play-icon{
		padding: 6px 0 0;
	}
		.content-selection .play-icon i{
			font-size: 14px;
			border: 2px solid #b2b6b9;
			padding: 5px 0;
		}
.date-section{
	padding-bottom:20px;
	border-bottom:1px solid #e2e4e6;
	margin-bottom:20px;
}
.coupen{
	background:#f8f2e3;
	margin-bottom: 40px;
	border:1px solid #edddce;
	border-radius: 2px;
	padding:25px 15px 25px 20px;
}
	.coupen p{
		margin-bottom:0;
		color:#e26e16;
		vertical-align: middle;
		line-height: 1.5;
	}
	.coupen p span{
		display: block;
		font-size: 14px;
	}
.subscribe-btn{
	text-align: right;
	margin-top:6px;
}
.fa.exclaimation{
	color:#e26e16;
	font-size:28px;
	margin: 6px 16px 0 0;
	vertical-align: middle;
	float: left;
}
.coupon-code{
	background: #fff;
	border: 2px solid #8db85c;
	border-radius: 2px;
	padding-right: 30px;
}
.green-bg{
	background: #8db85c;
	width: 160px;
	text-align: center;
	padding: 26px 32px;
	float: left;
}
	.super-text{
		display: block;
		font-size: 50px;
		color: #fff;
		font-weight: 700;
	}
		.super-text sup{
			font-size: 28px;
			vertical-align: 2px;
		}
	.green-bg span:last-child{
		font-size: 14px;
		color: #fff;
	}
.coupon-sec{
	margin-left: 190px;
}
.coupon-info{
	background: url(../images/coupon-code.png) no-repeat left 4px;
	margin: 54px 0 0 0;
	padding: 0 0 0 74px;
}
	.coupon-info h3{
		margin-bottom: 5px;
	}
	.coupon-info h3 span{
		font-size: 12px;
		font-weight: 700;
		margin-left: 10px;
		border-left: 1px solid #a2a7ab;
		padding: 0 10px;
		line-height: 1.2;
		display: inline-block;
	}
	.coupon-info p{
		margin-bottom: 0;
	}
.coupon-apply{
	text-align: right;
	padding: 56px 0 0;
}
	.coupon-apply input{
		margin-right: 20px;
	}
	.coupon-apply button{
		background: #505861;
		text-shadow: none;
		font-size: 12px;
		color: #fff;
		padding: 8px 20px;
	}
.fa.calendar{
	font-size:16px;
	top:10px !important;
	right:18px !important;
}
.current-price{
	margin-bottom:20px;
}
	.current-price .btn-group{
		border:1px solid #d1d1d1;
		margin-right: 30px;
		border-radius: 4px;
	}
	.current-price button{
		font-size: 12px;
		font-weight: 300;
		border-radius:0;
		padding:7px 22px 7px 10px;
		text-align: center;
	}
	.current-price button:hover{
		color: #000;
	}
	.current-price button i{
		margin:0 12px;
	}
	.current-price p{
		margin-bottom: 0;
		padding: 28px 0 30px;
	}
		.current-price p i{
			font-size: 14px;
			color: #32b1d2;
			margin-right: 18px;
			border: 1px solid #32b1d2;
			border-radius: 100px;
			padding: 2px 4px 1px;
		}
.free{
	background:#fff;
}
.paid{
	background:#3d444e;
	color:#fff;
	text-shadow:none;
}
.price-field{
	position: relative;
	font-weight: normal;
	margin: 0 6px 0 0;
	vertical-align: middle;
}
	.price-field input{
		display: inline-block;
		width: 194px;
		margin-left: 12px;
		padding: 6px 34px;
	}
.dollar-sign{
	font-size: 17px;
	font-weight: 900;
	position: absolute;
	left: 54px;
	top: 6px;
}
.opt-btns{
	display: inline-block;
}
	.opt-btns a{
		color: #fff;
		font-size: 12px;
		font-weight: normal;
		text-shadow: none;
		margin-right: 6px;
		padding: 7px 20px 8px;
	}
		.opt-btns a:first-child{
			background: #505861;
		}
		.opt-btns a:last-child{
			background: #b0b6bc;
		}
/*	dev style end	*/

.main-top{
	padding: 23px 0 0;
}
	.search-bar{
		position: relative;
	}
	.search-bar input{
		display: block;
		border-radius: 2px;
		font-size: 12px;
		box-shadow: none;
		padding-right: 36px;
		height: 40px;
	}
	.search-bar button{
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		background: none;
		color: #32b1d2;
	}
	.search-bar button:hover{
		background: none;
		color: #000;
	}
.banner-wrap img{
	width: 100%;
	display: block;
}
.company-logo{
	margin: -19px 0 0;
}
.company-info{
	border-bottom: 1px solid #e2e4e6;
	padding: 0 0 4px;
}
	.company-title h2 span{
		display: block;
		color: #6a7179;
		font-size: 15px;
		margin: 6px 0 0;
	}
	.edit-profile{
		text-align: right;
		padding: 28px 0 0;
	}
.company-contact{
	padding: 18px 0 0;
}
	.company-contact p{
		color: #6a7179;
		margin-right: 30px;
		float: left;
	}
	.company-contact i{
		padding-right: 15px;
	}
.info-sec{
	border-bottom: 1px solid #e1e4e9;
	padding: 57px 0 0;
}
.sec-title{
	padding: 6px 0 26px;
}
	.sec-title h2 span{
		font-weight: 300;
	}
	.add-courses{
		text-align: right;
		padding: 23px 0 0;
	}

/*  Courses Section
-------------------------------------- */
.course-box{
	margin: 0 0 40px;
	border: 1px solid #d6d5d5;
	border-radius: 2px;
}
	.course-img{
		position: relative;
	}
		.course-img:hover .course-hov{
			display: block;
		}
		.course-img a{
			display: block;
		}
		.course-img img{
			width: 100%;
		}
	.course-info{
		padding: 0 20px 22px;
	}
		.course-info h2{
			font-size: 20px;
			margin: 18px 0 4px;
		}
	.wishlist{
		background: #fff;
		color: #6a7179;
		position: absolute;
		top: 20px;
		right: 20px;
		padding: 4px 10px 4px 6px;
	}
	.wishlist i{
		margin-right: 5px;
		color: #32b1d2;
	}
.course-hov{
	display: none;
	position: absolute;
	left: 100%;
	top: 0;
	z-index: 1;
}
	.hov-outer{
		padding-left: 10px;
	}
	.hov-inner{
		background: #3f474f;
		width: 360px;
		border-radius: 2px;
		padding: 0 0 10px;
		position: relative;
	}
		.hov-inner > i{
			font-size: 36px;
			color: #3f474f;
			position: absolute;
			right: 100%;
			margin-right: -2px;
		}
		.hov-inner p{
			color: #898f95;
			margin: 0;
			line-height: 1.5;
		}
		p.date-title{
			color: #fff;
			line-height: 1;
		}
		.course-date span{
			display: inline-block;
			vertical-align: middle;
		}
			.course-date span:first-child{
				font-size: 40px;
				font-weight: 300;
				color: #fff;
				margin-right: 8px;
			}
		.date-wrap{
			margin: 0 0 15px;
		}
				.start-date,
				.end-date{
					padding: 20px 0 0;
				}
				.start-date{
					border-right: 1px solid #535a63;
				}
			.white-btns{
				margin-bottom: 16px;
			}
				.white-btns a{
					width: 152px;
					background: #fff;
					display: block;
					margin-right: 16px;
					float: left;
				}
				.white-btns a:last-child{
					margin-right: 0;
				}
			.view-course{
				display: block;
			}
	.hov-top{
		border-bottom: 1px solid #535a63;
		padding: 0 20px 19px;
	}
		.hov-top > p{
			margin-bottom: 16px;
		}
	.hov-bot{
		padding: 4px 20px 0;
	}
		.hov-bot p{
			color: #fff;
			padding: 16px 0 0;
		}
		.hov-bot span{
			display: block;
			text-align: right;
			color: #96c574;
			font-size: 40px;
			font-weight: 300;
		}

/*  Pagination
-------------------------------------- */
.pagination{
	display: block;
	text-align: center;
}
	.pagination > li{
		margin: 0 4px;
		display: inline-block;
	}
	.pagination > li > a{
		color: #b5b8bc;
		border-width: 2px;
		border-radius: 2px;
	}
		.pagination > .active > a{
			background: #fff;
			color: #6a7179;
			border-color: #32b1d2;
		}
		.pagination > li > a:hover,
		.pagination > .active > a:hover{
			background: #32b1d2;
			color: #fff;
			border-color: #32b1d2; 
		}
		.pagination > li:first-child > a{
			color: #fff;
			background: #d3d6d9;
			border-radius: 2px;
		}

/*  Tutors Section
-------------------------------------- */
.tutor-sec{
	padding: 0 0 42px;
}
.tutor{
	background: #fff;
	min-height: 158px;
	margin: 0 0 42px;
	border: 1px solid #dad9d9;
}
	.tutor-pic{
		float: left;
		margin-right: 20px;
	}
	.tutor-info{
		width: auto;
		/*margin-left: 163px;*/
		padding: 16px 20px;
	}
		.tutor-info h2{
			font-size: 20px;
			color: #6a7179;
			margin: 0 0 7px;
			border-bottom: 1px solid #eaeaea;
			padding: 0 0 13px;
		}
		.tutor-info h2 span{
			font-size: 12px;
			display: block;
			margin: 4px 0 0;
		}
		.tutor-info p{
			color: #6a7179;
			line-height: 1.5;
			padding-right: 40px;
		}

/*  Registration Page
-------------------------------------- */
.page-height{
	min-height: 1150px;
}
.reg-steps{
	text-align: center;
	position: relative;
	margin-bottom: 35px;
	padding: 70px 0 32px;
}
	.reg-steps .border-bg{
		background: url(../images/step-bg.jpg) repeat-x center center;
		position: absolute;
		left: 50%;
		margin-left: -250px;
		top: 102px;
	}
	.reg-steps .border-bg-inner{
		width: 500px;
		height: 1px;
	}
	.reg-steps .step{
		display: inline-block;
		padding-top: 73px;
		text-transform: uppercase;
		font-weight: 700;
		margin: 0 61px;
		color: #b0b6bc;
		background-position: center top;
		background-repeat: no-repeat;
		position: relative;
		z-index: 1;
	}
		.reg-steps .step1{
			background-image: url(../images/step1-norm.png);
		}
		.reg-steps .step2{
			background-image: url(../images/step2-norm.png);
		}
		.reg-steps .step3{
			background-image: url(../images/step3-norm.png);
		}
	.reg-steps span.active{
		color: #6f767e;
	}
		.reg-steps .step1.active{
			background-image: url(../images/step1-active.png);
		}
		.reg-steps .step2.active{
			background-image: url(../images/step2-active.png);
		}
		.reg-steps .step3.active{
			background-image: url(../images/step3-active.png);
		}

.company-forms .form-group{
	margin-bottom: 27px;
}
.form-title h2{
	color: #6a7179;
}
.form-title p{
	margin-bottom: 14px;
	color: #6a7179;
}
.require-field{
	color: #e82d2d;
}
.gray-border{
	margin-bottom: 22px;
	border-bottom: 1px solid #e2e4e6;
}
.receive-field label{
	padding-top: 8px;
}
.receive-field .form-control{
	display: inline-block;
	width: 372px;
}
.receive-field [type="checkbox"]{
	margin-right: 20px;
}
.receive-email{
	margin-bottom: 27px;
}
.icon-field{
	position: relative;
}
	.icon-field i{
		position: absolute;
		right: 15px;
		top: 0px;
		font-size: 14px;
		color: #9ca1a6;
	}
	.icon-field input{
		padding-right: 35px;
	}
#contents.gray-border{
	padding-bottom: 37px;
	border-width: 2px;
}
#about-company{
	border: 1px solid #d1d1d1;
	resize: none;
	width: 100%;
	height: 127px;
	padding: 5px;
}
.contact-form .icon-field i{
	top: 10px;
	right: 10px;
}

/*  Membership Plan
-------------------------------------- */
.plan{
	text-align: center;
	border: 1px solid #d1d1d1;
	padding-bottom: 38px;
	border-radius: 2px;
}
	.plan h2{
		background: #9ba7af;
		padding: 34px 0 26px;
		font-weight: bold;
		color: #fff;
		margin: 0 0 10px;
	}
	.plan h2 i{
		display: block;
		margin-bottom: 10px;
	}
	.plan-1{
		margin-top: 73px
	}
		.plan-1 > a{
			background: #9ba7af;
		}
	.plan-2{
		margin-top: 35px;
		border-color: #cba240;
		border-width: 2px;
	}
		.plan-2 h2{
			background: #cba240;
		}
		.plan-2 > a{
			background: #cba240;
		}
	.plan-3 > a{
		background: #b3adaf;
	}
	.plan-3 h2{
		background: #b3adaf;
	}
	.plan > span{
		display: block;
	}
	.plan h3{
		font-weight: 400;
		color: #6a7179;
		margin-bottom: 20px;
	}
	.plan p{
		color: #6a7179;
		margin-bottom: 15px;
	}
	.select-plan{
		color: #fff;
		margin-top: 26px;
	}
		.plan p i{
			margin-right: 8px;
		}
	.plan-price{
		font-size: 40px;
		color: #9ba7af;
		font-weight: bold;
	}
		.plan-price sup{
			font-size: 20px;
			vertical-align: 5px;
		}
		.per-year{
			font-size: 12px;
			display: block;
			margin-bottom: 24px;
		}
/*  Payment Methods
-------------------------------------- */
.pay-method{
	border: 1px solid #d1d1d1;
	border-radius: 2px;
	padding: 23px 30px 5px;
}
.pay-method.active{
	border: 2px solid #32b1d2;
}
	.pay-method > div{
		float: left;
	}
		.method-title{
			width: 198px;
			margin-right: 15px;
			padding: 0 15px 0 0;
		}
			.method-title h2{
				margin: 0;
			}
	.method-radio{
		position: absolute;
		left: 15px;
		right: 15px;
		top: 0;
		bottom: 0;
		text-align: right;
		padding: 36px 15px 0;
	}
	.method-radio i{
		display: inline-block;
		color: #d2d2d2;
		font-size: 26px;
	}
	.pay-method.active .method-radio i{
		color: #32b1d2;
	}
.pay-confirm h2{
	margin-bottom: 6px;
	padding-bottom: 17px;
}
.confirm-detail > div{
	border-bottom: 1px solid #edeeef;
}
	.confirm-detail p{
		margin: 9px 0 8px;
	}
.amount{
	padding: 5px 0 0;
}
	.amount h3{
		color: #32b1d2;
	}

/*  Sidebar
-------------------------------------- */
#sidebar{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
}
.sidebar-inner{
	background: #3d444e;
	width: 210px;
}
.side-nav{
	margin-bottom: 0;
}
	.side-nav li{
		text-transform: capitalize;
		border-bottom: 1px solid #484f58;
	}
	.side-nav a{
		display: block;
		color: #9ca1a6;
		padding: 32px 30px 34px;
	}
	.side-nav i{
		font-size: 20px;
	}
	.side-nav .active a{
		background: #303842 url(../images/caret-icon.png) no-repeat right center;
	}
	.side-nav .active a span,
	.side-nav .acitve a i,
	.setting-link .active a{
		color: #32b1d2;
	}
		.setting-link i{
			font-size: 20px;
		}
	.side-nav .acitve a .fa-question{
		border-color: #32b1d2;;
	}
	.side-nav .active a .nav-links{
		color: #fff;
		font-weight: 700;
	}
		.side-nav span{
			font-size: 20px;
			vertical-align: middle;
		}
		.side-nav .nav-links{
			display: inline-block;
			font-size: 12px;
			margin-left: 20px;
		}
		.side-nav .fa-question{
			color: #9ca1a6;
			border: #9ca1a6 3px solid;
			border-radius: 100px;
			font-size: 14px;
			padding: 1px 3px 0;
		}
.setting-link a{
	width: 50%;
	background: #38404a;
	display: block;
	color: #9ca1a6;
	padding: 12px 0;
	text-align: center;
	float: left;
}
.setting-link .active{
	background: #303842;
}
	.setting-link span{
		font-size: 17px;
	}

/*  Right Panel
-------------------------------------- */
#right-panel{
	background: #32b1d2;
	position: absolute;
	top: 68px;
	bottom: 0;
	right: -223px;
}
	.panel-inner{
		display: none;
		position: relative;
		width: 223px;
		z-index: 1;
	}
		.user-thumbnail{
			background: url(../images/user-pic.jpg) no-repeat center center;
			min-height: 164px;
			padding: 45px 30px 0;
		}
			.user-thumbnail p{
				color: #fff;
				margin-bottom: 3px;
			}
			.user-thumbnail .progress,
			.progress-lec .progress{
				background: #1d2228;
				width: 104px;
				display: inline-block;
				margin: 0 5px 0 8px;
				height: 6px;
			}
			.user-name{
				font-size: 20px;
				font-weight: bold;
				color: #fff;
			}
				.user-name i{
					display: inline-block;
					vertical-align: middle;
					font-size: 13px;
					color: #82d250;
				}
			.user-thumbnail .percent{
				color: #fff;
			}
			.user-thumbnail > a i{
				display: inline-block;
				font-size: 16px;
				color: #fff;
			}
				.user-thumbnail > a:hover i{
					color: #32b1d2
				}
		.became-tutor{
			background: #38404a;
			color: #fff;
			font-size: 14px;
			font-weight: 300;
			display: block;
			padding: 18px 30px 17px;
		}
			.became-tutor i{
				margin-left: 42px;
				display: inline-block;
			}
		.notifications{
			position: relative;
			padding: 28px 30px 0;
		}
			.notifications h3{
				padding: 0 8px;
				position: relative;
				z-index: 1;
			}
				.notifications h3 i{
					margin-right: 16px;
				}
			.notifications ul{
				position: relative;
				z-index: 0;
			}
			.notifications li{
				margin-bottom: 27px;
			}
			.notifications li span{
				display: inline-block;
				margin-left: 10px;
				vertical-align: middle;
				color: #fff;
			}
			.notifications h3{
				color: #fff;
			}
		.side-border{
			position: absolute;
			left: 47px;
			top: 45px;
			bottom: 0;
		}
			.side-border-inner{
				background-color: rgba(100%, 100%, 100%, 0.5);
				width: 1px;
				height: 100%;
			}
		.notifications .white-btns a{
			width: auto;
			margin-top: 6px;
			float: none;
			display: inline-block;
		}

/*  Student Phase 1
-------------------------------------- */
.review-bar{
	text-align: right;
}
.round-pic p{
	color: #92979d;
	margin-left: 44px;
	line-height: 1.2;
	padding: 2px 0 0;
}
.round-pic img{
	display: block;
	float: left;
}
.round-pic span{
	display: block;
	color: #6a7179;
}
.share-icons{
	display: inline-block;
	vertical-align: middle;
}
	.share-icons span{
		display: inline-block;
		font-size: 14px;
		color: #a3a7ac;
		margin-right: 20px;
	}
.write-review{
	display: inline-block;
	background: #fff;
	border: 1px solid #e3e5e7;
	border-radius: 2px;
}
	.write-review a{
		font-size: 12px;
	}
	.write-review a:hover{
		color: #32b1d2;
	}
	.write-review i{
		color: #32b1d2;
		margin-right: 8px;
	}
.left-sec section{
	margin: 0 0 14px;
}
.left-sec section:last-child .lec-info:last-child{
	padding-bottom: 0;
}
.lec-info{
	margin-left: 8px;
	border-left: 1px solid #d7d8d9;
	padding: 0 0 20px 32px;
}
.lec-block{
	background: #fff;
	position: relative;
	border: 1px solid #d4d3d3;
	border-radius: 2px;
}
	.lec-block:hover{
		border-color: #abaaaa;
	}
	.start-lec{
		display: none;
		position: absolute;
		right: 105px;
		top: 20px;
		padding: 8px 12px;
	}
	.lec-block:hover .start-lec{
		display: block;
	}
	.branch-circle.filled{
		background: #32b1d2;
	}
	.lec-info .branch-circle i{
			color: #d7d8d9;
			font-size: 18px;
			margin: -2px -1px;
		}
	.lec-block p{
		color: #6a7179;
		margin-bottom: 6px;
	}
		.lec-icons a{
			display: inline-block;
			margin-right: 10px;
		}
		.lec-icons i{
			color: #adb0b5;
			font-size: 14px;
		}
		.lec-icons a:hover i{
			color: #8db85c;
		}
		.lec-title{
			width: 424px;
			padding: 19px 19px 12px;
			float: left;
		}
		.lec-title span{
			width: 160px;
			display: inline-block;
			vertical-align: middle;
		}
		.lec-title i{
			font-size: 26px;
			vertical-align: middle;
			margin-right: 20px;
		}
		.lec-duration{
			background: #eaebef;
			width: 87px;
			text-align: right;
			padding: 13px;
			float: right;
		}
			.lec-duration span{
				font-size: 25px;
				font-weight: 300;
				line-height: 0.8;
				display: block;
			}
.user-tabs .tab-content{
	margin-bottom: 36px;
	border: 1px solid #d6d5d5
}
.user-tabs ul{
	margin: 0 0 30px;
	border-color: #e1e4e9;
}
	.user-tabs ul li{
		margin: 0;
	}
	.user-tabs ul a:focus{
		background: none !important;
		outline: none;
		border: none;
	}
	.user-tabs ul .active a:focus{
		border: none;
		border-bottom: 2px solid #32b1d2;
	}
	.user-tabs ul a:hover{
		background: none;
		border: none;
		color: #1d2228 !important;
	}
	.user-tabs ul .active a,
	.user-tabs ul .active a:hover{
		background: none;
		border: none;
		border-bottom: 2px solid #32b1d2;
		color: #1d2228 !important;
	}
	.user-tabs ul .active .fa-caret-down{
		display: block;
		color: #32b1d2;
	}
	.user-tabs ul a{
		position: relative;
		text-transform: none;
		margin: 0 0 -1px;
		border: none;
		border-bottom: 2px solid transparent;
		padding: 20px 24px 20px 22px;
		color: #b0b6bc !important;
	}
	.user-tabs ul .fa{
		margin-right: 15px;
	}
	.user-tabs ul .fa-caret-down{
		display: none;
		font-size: 21px;
		position: absolute;
		top: 100%;
		margin-top: -4px;
		left: 50%;
		margin-left: -6px;
	}
.user-tabs .tab-pane{
	background: #fff;
}
	.pane-inner{
		margin-left:46px; 
		border-left: 1px solid #d9dadb;
		padding: 30px 30px 30px 28px;
	}
		.post-cmt{
			position: relative;
		}
			.post-cmt img{
				width: 100%;
				display: block;
				margin-bottom: 10px;
			}
			.user-pic{
				position: absolute;
				right: 100%;
				margin-right: 12px;
			}
		.tab-pane ul{
			margin-bottom: 0;
			padding: 0 0 0 46px;
		}
		.tab-pane > ul{
			padding: 0 30px 0 46px;
		}
			.tab-pane > ul > li{
				position: relative;
				border-left: 1px solid #d9dadb;
				padding: 28px 0 30px 28px;
			}
			.tab-pane > ul > li > .user-pic{
				margin-right: -16px;
			}
		.person-name{
			font-size: 15px;
		}
		.cmt-info{
			color: #92979d;
			margin-bottom: 18px;
		}
		.user-cmt{
			position: relative;
			margin-bottom: 20px;
		}
			.fb-like{
				position: absolute;
				right: 0;
				top: 10px;
			}
			.user-cmt p a{
				color: #303842 !important;
				padding: 0;
			}
			.user-cmt p a:hover{
				color: #32b1d2 !important;
			}
			.reply-btn i.fa{
				margin: 0 0 0 8px;
			}
				.cmt-timing{
					background: url(../images/clock-icon.png) no-repeat left center;
					margin-left: 18px;
					padding-left: 24px;
				}
.loading-more{
	margin-bottom: 34px;
	text-align: center;
}

/*  Student Phase 2
-------------------------------------- */
.lec-progress{
	background: #fff;
	margin: 22px 0 36px 0;
	border: 1px solid #d6d5d5;
	-webkit-border-radius: 2px ;
	-moz-border-radius: 2px ;
	-ms-border-radius: 2px ;
	-o-border-radius: 2px ;
	border-radius: 2px ;
}
	.lec-logo{
		margin: -1px;
		float: left;
	}
	.progress-info{
		position: relative;
		margin-left: 162px;
		padding: 32px 20px 20px 0;
	}
		.progress-alert{
			background: #fa9040;
			position: absolute;
			right: -1px;
			top: -1px;
			bottom: -1px;
			-webkit-border-radius: 0 3px 3px 0;
			-moz-border-radius: 0 3px 3px 0;
			-ms-border-radius: 0 3px 3px 0;
			-o-border-radius: 0 3px 3px 0;
			border-radius: 0 3px 3px 0;
		}
			.progress-alert a{
				background: #e26e16;
				margin: 20px;
			}
			.progress-alert i{
				font-size: 14px;
				color: #fff;
				padding: 1px 4px;
			}
		.progress-info .clearfix{
			overflow: hidden;
		}
		.progress-info span{
			display: block;
			margin-bottom: 3px;
		}
		.progress-info p{
			line-height: 1.5;
			margin-bottom: 0;
		}
		.progress-info p:first-child{
			margin-bottom: 6px;
		}
		.progress-info h3{
			color: #7e848b;
			margin-bottom: 2px;
		}
		.progress-info .progress{
			background: none;
			box-shadow: 0 0 2px #d4d4d4 inset;
			width: 98%;
			display: block;
			height: 6px;
			margin: 0 0 14px;
		}
		.lec-progress .progress-bar{
			background: #a4d085;
		}
.user-reply li{
	position: relative;
}
	.user-reply .cmt-timing{
		margin-left: 0;
	}
.cmt-field{
	position: relative;
}
	.cmt-field input{
		height: 38px;
		font-size: 12px;
		padding: 6px 32px 6px 12px;
	}
	.cmt-field button{
		background: none;
		border: none;
		padding: 0;
		position: absolute;
		right: 10px;
		top: 12px;
	}
	.cmt-field .fa{
		margin: 0 !important;
	}
.cmt-img{
	margin: 0 -30px 30px -75px;
}
.cmt-img img{
	width: 100%;
}

/*  Studen Dashboard
-------------------------------------- */
.math-banner{
	background: #c5e4f4 url(../images/banner-img.png) no-repeat;
	background-size: 360px 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	padding: 30px 0 28px;
}
	.math-banner span{
		text-transform: uppercase;
		display: block;
		font-size: 16px;
		margin-bottom: 6px;
	}
	.math-banner span:first-child{
		font-size: 30px;
	}
	.math-banner a{
		margin: 6px 0 0;
	}
	.exit-btn{
		font-size: 26px;
		color: #5e6978;
		position: absolute;
		right: 32px;
		top: 5px;
	}
.three-steps{
	background: #fff;
	text-align: center;
	margin-bottom: 30px;
	border-top: 1px solid #e2e4e6;
	border-bottom: 1px solid #e2e4e6;
	padding: 40px 0 0;
}
	.three-steps h2{
		margin-bottom: 36px
	}
.progress-circles{
	padding: 0 92px 53px;
}
	.progress-circles h3{
		margin: 0 0 6px;
		text-transform: uppercase;
	}
	.progress-circles p{
		margin-bottom: 0;
	}
.middle-circle{
	border-right: 1px solid #e2e4e6;
	border-left: 1px solid #e2e4e6;
}
.progress-circles [class*="circle-"]{
	width: 132px;
	height: 132px;
	margin: 0 auto 25px;
	line-height: 130px;
	font-size: 25px;
	display: block;
}
	.circle-1{
		background: url(../images/mute-circle.png) no-repeat center center;
		color: #bdc1c7;
	}
	.circle-2{
		background: url(../images/warning-circle.png) no-repeat center center;
		color: #bdc1c7;
	}
	.circle-3{
		background: url(../images/success-circle.png) no-repeat center center;
		color: #bdc1c7;
	}
.courses-sec h2{
	margin: 6px 0 0;
}
.filter-courses{
	margin-bottom: 36px;
	text-align: right;
}
	.filter-courses .btn{
		color: #9ca4ac;
		border: 1px solid #d1d1d1;
		margin-right: 7px;
	}
	.filter-courses [type="checkbox"]{
		margin: 0 16px 0 10px;
	}
	.btn-list{
		font-size: 20px;
		color: #32b1d2;
	}

/*  Suggested Courses
-------------------------------------- */
.course{
	background: #fff;
	margin-bottom: 36px;
	border: 1px solid #dcdbdb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
	.course:hover .course-hov{
		display: block;
		left: 0;
		right: 0;
		top: 100%;
		margin-top: -36px;
	}
	.course .hov-outer{
		padding: 20px 15px 0;
	}
	.course .hov-inner{
		width: auto;
		padding: 20px;
	}
		.course .hov-inner > i{
			margin-right: 0;
			right: inherit;
			left: 20%;
			bottom: 100%;
			margin-bottom: -12px;
		}
	.course .hov-top{
		border: none;
		padding: 0;
	}
	.course .hov-bot{
		padding: 38px 20px 0;
	}
	.course .white-btns a{
		width: auto;
		padding: 8px 20px;
	}
		.course .white-btns a:last-child{
			float: right;
		}
	.course .start-date{
		border: none;
		border-bottom: 1px solid #535a63;
		padding: 0 0 20px;
	}

.course-content{
	margin-left: 160px;
}
	.course-content .progress-info{
		margin: 0;
	}
.course-cover{
	float: left;
}
	.course-cover img{
		max-width: 160px;
		height: 182px;
		display: block;
	}
.course-title{
	margin-bottom: 16px;
	border-bottom: 1px solid #eaeaea;
	padding: 18px 20px;
	overflow: hidden;
}
	.course-title span{
		display: block;
		font-size: 12px;
		font-weight: normal;
	}
	.course-title img{
		display: inline-block;
	}
.course-detail{
	padding: 0 20px 15px;
}
	.course-detail span{
		display: inline-block;
		vertical-align: middle;
		margin-right: 22px;
	}
	.course-detail strong,
	.course-detail span img{
		display: block;
		padding-top: 10px;
	}
.tutor-title{
	background: #f1f1f1;
	padding: 14px 20px 9px;
}
	.tutor-title p{
		background: url(../images/tutor.png) no-repeat left center;
		color: #92979d;
		margin: 0;
		line-height: 1.3;
		padding: 2px 0 2px 47px;
	}
	.tutor-title a{
		display: block;
		color: #6a7179;
	}
	.tutor-title a:hover{
		color: #32b1d2;
		text-decoration: underline;
	}

/*  My Batches
-------------------------------------- */
.tabs-wrap{
	background: #fff;
	border-top: 1px solid #e2e4e6;
	border-bottom: 1px solid #e2e4e6;
}
.batches-content .progress-info{
	margin: 0;
	padding: 0 20px;
}
.batches-content .progress{
	width: auto;
}
.batches-content .course-title{
	margin: 0;
	border: none;
	padding: 18px 20px 0;
}
.batches-content .course-cover img{
	height: 156px;
}
.course-link{
	padding: 0 20px 17px;
	overflow: hidden;
}
	.course-link span{
		padding: 8px 0 0;
	}
	.course-link a{
		padding: 8px 12px;
	}
.discover-courses{
	text-align: right;
	padding: 26px 0 0;
}
	.discover-courses a{
		padding: 8px 12px;
	}
	.discover-courses i{
		font-size: 20px;
		margin-right: 10px;
		vertical-align: middle;
	}

/*  My Course
-------------------------------------- */
.sec-head{
	font-weight: normal;
	border-bottom: 1px solid #dcdcdc;
	padding-bottom: 17px;
}
.category h3,
.course-glance h3,
.taught-by h3{
	font-weight: normal;
}
.category li{
	margin-bottom: 10px;
}
	.category a{
		color: #adb2b6;
	}
		.category a:hover,
		.category a:hover i{
			color: #000;
		}
		.category i{
			font-size: 18px;
			color: #adb2b6;
			margin-right: 20px;
			vertical-align: middle;
		}
.course-glance span{
	display: block;
	margin-bottom: 12px;
}
	.course-glance i{
		margin-right: 10px;
		vertical-align: middle;
	}
.teacher-info h3{
	background: url(../images/tutor.png) no-repeat left center;
	padding-left: 48px;
	font-weight: 300;
}
	.teacher-info h3 span{
		display: block;
		font-size: 12px;
	}
.syllabus,
.reviews{
	padding: 60px 0 0;
}
	.syllabus h3{
		margin-bottom: 0
	}
	.syllabus .lec-info{
		position: relative;
	}
	.syllabus .branch-circle{
		background: #f6f6f6;
		margin-right: -6px;
		top: 4px;
	}
		.first-sec{
			padding: 16px 0 0 32px;
		}
			.first-sec .branch-circle{
				top: 20px;
			}
		.last-sec{
			padding: 0 0 0 32px;
		}
		.last-sec .lec-block{
			margin-bottom: 0 !important;
		}
	.syllabus .lec-block{
		position: inherit;
		margin-bottom: 27px;
	}
	.syllabus .branch-circle i{
		color: #32b1d2;
	}
	.syllabus .lec-title{
		padding: 22px 19px;
	}
.course-rating{
	background: #fff;
	margin-bottom: 32px;
	border: 1px solid #d4d3d3;
	padding: 32px 0;
}
	.avg-rating{
		background: url(../images/border-bg.png) repeat-x center center 530px auto;
	}

.tutor-reviews{
	margin-left: 55px;
	padding-bottom: 16px;
}
	.tutor-reviews h3{
		color: #92979d;
		font-weight: normal;
		margin-bottom: 6px;
	}
	.tutor-reviews p{
		color: #6a7179;
	}
	.rating{
		margin-bottom: 14px;
		color: #92979d;
	}
		.rating img{
			display: inline-block;
			margin-right: 12px;
		}
	

/*  Footer 
-------------------------------------- */
#footer-wrap{
	background: #ebebeb;
	padding: 28px 0 0;
}
#footer-top{
	border-bottom: 1px solid #e4e4e4;
	padding-bottom: 30px;
}
	.device-img{
		margin: 0 0 20px;
	}
	.google-info p{
		line-height: 1.6;
	}
	.google-imgs a{
		display: inline-block;
		margin-right: 8px;
	}
	#footer-center h3{
		margin: 0 0 25px;
	}
	.courses-links ul li{
		margin: 0 0 6px;
	}
	.nav-left{
		margin-right: 56px;
	}
	.nav-left,
	.nav-right{
		float: left;
	}
	#footer-right p{
		background: url(../images/map-img.png) no-repeat top left;
		padding-left: 92px;
		line-height: 1.5;
	}
	.read-more a{
		margin-left: 92px;
		border: none;
		padding: 8px;
	}
#footer-bot{
	border-top: #d7d7d8 1px solid;
	padding: 6px 0 0;
}
	.footer-nav{
		padding: 16px 0 0 ;
	}
	.footer-nav li{
		margin: 0 36px 10px 0;
		float: left;
	}
	.copyright{
		text-align: center;
		padding: 16px 0 0 ;
	}
	.copyright span{
		color: #3d444e;
	}
	.copyright a{
		color: #32b1d2;
	}
	.sign-links{
		text-align: right;
	}
	.sign-links a{
		display: inline-block;
		margin: 0 0 10px 20px;
	}
	.sign-links a:first-child{
		margin-left: 0;
	}

.light-gray-bg{
	background:#f6f6f6;
}

@media (max-width: 1200px){
	.receive-field .form-control{
    	width: 297px;
    }
    .nav-custom li{
    	margin-left: 32px;
    }
    .inline-field input{
    	width: 219px;
    }
    .image-field{
    	width: 650px;
    }
    .video-fields input{
    	width: 658px;
    }
    .coupon-sec{
    	margin-left: 178px;
    }
    .coupon-info{
    	padding: 0 0 0 65px;
    }
    .coupon-apply{
    	text-align: left;
    }
    .user-tabs ul a{
    	padding: 20px 17px 20px 15px;
    }
    .user-tabs ul .fa-caret-down{
    	margin-top: -5px;
    }
}
@media (max-width: 992px) {
    .footer-nav li{
    	margin-right: 28px;
    }
    .receive-field .form-control{
    	width: 184px;
    }
    .nav-custom li{
    	margin-left: 10px;
    	padding: 0 5px;
    }
    .image-field{
    	width: 467px;
    }
    .video-fields input{
    	width: 474px;
    }
    .coupon-info{
    	margin: 22px 0;
    }
    .coupon-apply{
    	margin-bottom: 20px;
    	padding: 0 0 0 64px;
    }
    .side-nav .nav-links{
    	display: none;
    }
    .sidebar-inner{
    	width: 81px;
    	text-align: center;
    }
    .logged-in #container-fluid{
    	margin-left: 81px;
    }
    .logged-in #sidebar:before{
    	width: 81px;
    }
    .setting-link a{
    	width: 100%;
    	float: none;
    	padding: 20px 0;
    }
    .review-bar{
    	text-align: left;
    }
    .user-tabs ul a{
    	font-size: 11px;
    	padding: 15px 5px 15px 7px;
    }
    .user-tabs > ul .fa{
    	margin-right: 13px;
    }
    .lec-title{
    	width: 215px;
    	padding: 5px 10px;
    }
}
@media (max-width: 767px) {
	.navbar{
		padding-top: 3px;
	}
	.navbar-nav{
		margin: 7.5px 0;
		float: none;
	}
	.navbar-nav > li{
		margin-left: 30px;
	}
	.nav-btn a{
		border: 1px solid #d1d1d1;
		padding: 12px 10px !important;
		font-size: 20px;
	}
		.nav-btn i{
			color: #32b1d2;
		}
}
@media (max-width: 480px) {
    
}

@media (max-width: 320px) {
    
}